<footer class="footer">
  <div class="footer__content">
    <div class="container row-flex">
      <div class="col-1-3">
        <img
          src="/img/logo-light.cc2a7699.png"
          alt="logo"
          class="footer__logo mb-12"
        />
        <p class="footer__about">
          By Campers, for Campers. Only verified Camp information is found here.
        </p>
      </div>
      <div class="col-1-3">
        <h5 class="footer__title heading-5">Links</h5>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/" class="btn btn--light btn--link">Home</a>
          </li>
          <li class="footer__item">
            <a href="/camps" class="btn btn--light btn--link">All Camps</a>
          </li>
          <li class="footer__item">
            <a href="/about" class="btn btn--light btn--link">About</a>
          </li>
          <li class="footer__item">
            <a href="/contact" class="btn btn--light btn--link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-1-3">
        <h5 class="footer__title heading-5">Follow us on</h5>
        <div class="footer__social">
          <a href="#" class="btn btn--light btn--link">
            <i class="fa-brands fa-twitter footer__icon"></i>
          </a>
          <a href="#" class="btn btn--light btn--link">
            <i class="fa-brands fa-instagram footer__icon"></i>
          </a>
          <a href="#" class="btn btn--light btn--link">
            <i class="fa-brands fa-facebook footer__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="container">
      Copyright &copy; 2024
      <a
        href="https://shariul.com"
        class="btn btn--light btn--link text--underline"
        target="_blank"
        >Shariul</a
      >. All Rights Reserved.
    </p>
  </div>
</footer>
