<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Camp-log is about sharing data about the Camps all around the world and also Campers experience."
    />
    <link rel="icon shortcut" href="/favicon.247d164d.ico" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.5b5f30b4.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="stylesheet" href="/css/style.3ab093c4.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Welcome to Camp-Log - Share Your Camping Adventures</title>
  </head>
  <body>
    <%- include("../partials/navbar") %> <%- include('../partials/notification')
    %> <%- body %> <%- include("../partials/footer") %>
    <script type="module" src="/js/script.9494a122.js"></script>
    <script src="/js/script.90902ea6.js" nomodule defer></script>
  </body>
</html>
