<% layout("layouts/boilerplate") %>

<main class="main">
  <section class="section-header">
    <h1 class="heading-1 text--center text--light">Contact Us</h1>
  </section>
  <section class="section-error">
    <h2 class="heading-2">Thanks for Visiting</h2>
    <p class="error__title">Coming Soon</p>
    <p class="error__message">This Webpage is Under Development!</p>
    <a href="index.html" class="btn btn--primary">Back to Homepage</a>
  </section>
</main>
